html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.slides {
	height: 100%;
}

.slides section {
	height: 100%;
	margin: 0em;
}

.clean-link {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}