html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.slides {
}

.slides section {
	margin: 0em;
}

.clean-link {
	text-decoration: inherit;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}