p {
	font-family: 'droid serif', serif;
	font-weight: 400;
	font-size: 1em;
}

h1 {
	font-family: 'open sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	color: wheat;
}

.slides {
	 margin-left: 1em;
	 margin-right: 1em;
}

.progress {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1em;
}

.progress div{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #303030;
}

body {
	background-color: #202020;
	color: azure;
}

ul, ol {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    word-wrap: break-word;
}
